CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_FREERTOS_HZ=1000

# 业务层使用 ESP-IDF ADC continuous 驱动时，最终值需结合 PCB 和功耗测试确认。
CONFIG_ADC_CONTINUOUS_ISR_IRAM_SAFE=y
